/__pycache__/*
/Include/*
/Lib/*
/Scripts/*
/pyvenv.cfg
/flaskblog/site.db
/flaskblog/__pycache__/*
/flaskblog/**/__pycache__/
/flaskblog/static/profile_pics/*
!/flaskblog/static/profile_pics/default.jpg